# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#Required
# The Db url
DATABASE_URL="postgresql://postgres:[YOUR_DB_PASSWORD]@[YOUR_DB_HOST]:[YOUR_BD_PORT]/postgres"

#Required for proper auth routing in the client,
# Thesiteurl
NEXT_PUBLIC_SITE_URL=https://example.com

#App base route.
# Required in Prod.
NEXTAUTH_URL=https://example.com

#Required. 
NEXTAUTH_SECRET=[your secret string]

#Required
# Google Oauth Client
GOOGLE_ID=
GOOGLE_SECRET=

#Required
# Github Oauth Client
GITHUB_ID=
GITHUB_SECRET=

#Required
# Cloudinary 
# For image uploads
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
