.auth_wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container {
  display: grid;
  gap: 1rem;
  min-width: 30vw;
}

.fields_wrapper {
  display: grid;
  gap: 0.8rem;

  .input {
    width: 100%;
    padding: 1rem;
    background: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }
}

.password {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  .icon {
    position: absolute;
    right: 0.8rem;
    cursor: pointer;

    & > * {
      font-size: 1.3rem;
    }
  }
}

.middle {
  padding: 1rem;
  display: grid;
  place-content: center;
}

.error {
  color: var(--colors-error);
}

/* buttons */
.login_btn,
.provider_btn {
  font-size: 1.4rem;
  padding: 0.8rem 0.5rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.login_btn {
  background: var(--colors-fixed-brand11);
  box-shadow: var(--colors-blackA1) 0 0 0 0, var(--colors-blackA1) 0 0 0 0,
    var(--colors-blackA8) 0 1px 1px 0, var(--colors-fixed-brand10) 0 0 0 1px,
    var(--colors-blackA1) 0 0 0 0, var(--colors-blackA1) 0 0 0 0,
    rgb(64 68 82/8%) 0 2px 5px 0;

  &:hover {
    background: var(--colors-fixed-brand10);
  }

  &:disabled {
    color: rgba(var(--callout-rgb), 0.5);
    transform: scale(1);
  }
}

.provider_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background: var(--colors-gray5);
  box-shadow: var(--colors-blackA1) 0 0 0 0, var(--colors-blackA1) 0 0 0 0,
    var(--colors-blackA8) 0 1px 1px 0, var(--colors-gray8) 0 0 0 1px,
    var(--colors-blackA1) 0 0 0 0, var(--colors-blackA1) 0 0 0 0,
    rgb(64 68 82/8%) 0 2px 5px 0;

  &:hover {
    background: var(--colors-gray7);
  }

  &:disabled {
    color: rgba(var(--callout-rgb), 0.5);
    transform: scale(1);
  }
}

/* end btns */

.footer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.footer > span {
  text-decoration: underline;
  cursor: pointer;
}
