.wrapper {
  display: grid;
  place-content: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem 0;
}

.selection {
  display: grid;
  gap: 0.5rem;

  h3 {
    color: var(--colors-fixed-brand8);
  }
}

