.wrapper {
  display: grid;
  place-content: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem 0;
}

.selection {
  display: grid;
  gap: 0.5rem;

  h3 {
    color: var(--colors-fixed-brand8);
  }
}

.photos {
  h3 {
    color: var(--colors-fixed-brand8);
    margin-bottom: 0.5rem;
  }
}

.title {
  color: var(--colors-fixed-brand8);
}

.btn,
.input::-webkit-file-upload-button {
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: rgba(var(--callout-rgb), 1);
  border-radius: var(--border-radius);
  background-color: var(--colors-fixed-brand8);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
}

.btn:disabled {
  color: rgba(var(--callout-rgb), 0.5);
  transform: scale(1);
}

.fields_wrapper {
  display: grid;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;

  .input_wrapper {
    display: grid;
    gap: 0.8rem;
    text-align: center;
    min-width: 50%;
  }

  .info {
    color: orange;
  }

  .input,
  .info {
    width: 100%;
    padding: 1rem;
    background: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }

  .input::-webkit-file-upload-button {
    padding: 0.8rem;
  }

  .error {
    color: var(--colors-error);
  }
}
